        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;

        }

        .main-body {
            transition: background-color 1s ease, color 1s ease;
        }


        .main {
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 1200px;
            align-items: center;
        }

        .texts {
            background-color: rgba(223, 223, 223, 0.466);
            /* Semi-transparent */
            backdrop-filter: blur(5px);
            color: white;
        }

        .box {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .inpu {
            padding: 5px;
            border-radius: 5px;

        }

        .darker {
            background-color: black;
            color: white;

        }

        .lighter {
            background-color: white;
            color: black;

        }

        .darker .cardingBlack::-webkit-scrollbar {
            height: 8px;
            /* ← THIS WAS MISSING! */
        }

        .darker .cardingBlack::-webkit-scrollbar-track {
            background-color: black;
        }

        .darker .cardingBlack::-webkit-scrollbar-thumb {
            background-color: rgb(139, 139, 139);
            border-radius: 5px;
            /* ✅ Curves the thumb */

        }

        .togg {
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .toggDark {
            border: 1px solid white;
        }

        .toggWhite {
            border: 1px solid black;



        }

        .name {
            font-weight: bold;
            color: white;
            padding-bottom: 2px;
            text-transform: capitalize;
        }

        .desc {
            color: white;
            font-size: 12px;
        }

        .carding {
            display: flex;
            gap: 20px;
            /* ✅ spacing between cards */
            overflow-x: auto;
            padding: 20px 0;
            /* ✅ breathing space */
            scroll-behavior: smooth;
            width: 100%;
        }

        .cards {
            padding-left: 15px;
            padding-bottom: 20px;
            margin-top: 10px;
            border-radius: 5px;
            /* background-image: url("image.png"); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;


            width: 200px;
            height: 300px;
            /* background-color: aqua; */
        }

        .hidden {
            display: none;
        }