* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
font-family: sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.texts{
    background-color: rgba(243, 231, 223, 0.044);  /* Semi-transparent */
    backdrop-filter: blur(5px);                 
    
}

.box{
    display: flex;
    gap: 20px;
    align-items: center;
}
.inpu{
    padding: 5px;

}
.darker{
    background-color: black;
    color: white;
}

.darker .cardingBlack::-webkit-scrollbar {
    height: 12px;  /* ← THIS WAS MISSING! */
}

.darker .cardingBlack::-webkit-scrollbar-track{
    background-color: black;
}
.darker .cardingBlack::-webkit-scrollbar-thumb{
    background-color: white;
}
.togg{
    padding: 5px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    transition: padding 0.3s ease;
 border: 1px solid white;
}

.togg:hover{
    padding: 10px;
}
.name{
    font-weight: bold;
    color: white;
    padding-bottom: 2px;
    text-transform: capitalize;
}

.desc{
    color: white;
    font-size: 12px;
}

.carding {
  display: flex;
  gap: 20px;              /* ✅ spacing between cards */
  overflow-x: auto;
  padding: 20px 0;        /* ✅ breathing space */
  scroll-snap-type: x mandatory;
  width: 100%;
}

.cards {
    padding-left: 15px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    /* background-image: url("image.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    display: flex;
    scroll-snap-align: end;
    align-items: flex-end;
    
    
    width: 200px;
    height: 300px;
    /* background-color: aqua; */
}
    .hidden{
        display: none;
    }